
{% if section_number > 1 and number_of_index_sections > 1 %}
<hr class="hr--medium hr--clear">
{% endif %}
{% comment %}
<div class="section-header text-center follow-us">
  <h2 class="h3 section-header__title">{{ settings.instagram_title }}</h2>
</div>

<div class="grid insta-wrap">
  <div class="grid__item one-whole text-center">
   {{ settings.instagram_code }}
  </div>

</div>
{% endcomment %}
{% unless settings.instagram_id == blank %}

  <div class="homepage-instagram follow-us {{ settings.homepage_instagram_color }}">
    {% unless settings.instagram_title == '' %}
      <h2 class="h3 section-header__title text-center">{{ settings.instagram_title }}</h2>
    {% endunless %}
    <div id="instafeed" class="grid-uniform"></div>
  </div>

  <script>
    $(document).ready(function(){
      var userFeed = new Instafeed({
        get: 'user',
        userId: 'self',
        accessToken: "{{ settings.instagram_id }}",
        sortBy: 'most-recent',
        resolution: 'low_resolution',
        limit: {{ settings.instagram_photo_count}},
        template: {%raw%}'<a href="{{link}}" target="_blank" style="background-image: url({{image}});" class="grid__item instagram--square {%endraw%}{{settings.instagram_grid_width_large}} {{settings.instagram_grid_width_medium}} {{settings.instagram_grid_width_small}}{%raw%}"><span class="icon icon-instagram"></span></a>'{%endraw%}
      });
      userFeed.run();
    });
  </script>

{% endunless %}
{% comment %}
<!-- <script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'acmeintech',
        userId: '598846318',
        accessToken: '598846318.1677ed0.a3dc5b13900348eead59a077acc4880b'
    });
    userFeed.run();
</script>
 -->{% endcomment %}