<!-- /snippets/product-grid-item.liquid -->
{% comment %}

This snippet is used to showcase each product during the loop,
'for product in collection.products' in collection.liquid.

A liquid variable (grid_item_width) is set just before the this
snippet is included to change the size of the container.
Once the variable is set on a page, all future instances of this
snippet will use that width. Overwrite the variable to adjust this.

Example
- assign grid_item_width = 'large--one-quarter medium--one-half small--one-half'

{% endcomment %}

{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-quarter medium--one-quarter small--one-half' %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="grid__item grid-product {{ grid_item_width }}{% comment %}{{ grid_item_width }}{% endcomment %}{% if sold_out %} is-sold-out{% endif %}">
  <div class="grid-product__wrapper product-hover-cover">
    <div class="grid-product__image-wrapper">
      <a class="grid-product__image-linksss" href="{{ product.url | within: collection }}">
        <img
          src="{{ product | img_url: '800x' }}"
          alt="{{ product.featured_image.alt | escape }}"
          height="{{ product.featured_image.height }}"
          width="{{ product.featured_image.width }}"
          class="grid-product__image"
        >
      </a>
 
      {% if sold_out %}
        <div class="grid-product__sold-out">
          <div class="grid-product__sold-out-text">
            {% for i in (1..10) %}SOLD OUT &nbsp;&nbsp;{% endfor %}
          </div>
        </div>
      {% elsif on_sale %}
        {% if settings.product_sale_enable %}
          <div class="grid-product__on-sale">
            <div class="grid-product__on-sale-text">
              {% for i in (1..10) %}ON SALE 💸&nbsp;&nbsp;{% endfor %}
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>

    <a href="{{ product.url | within: collection }}">
      <div class="product-details">
        <div class="grid-product__meta position-content">
          <div>
            <div class="grid-product__meta-title">
              {{ product.title }}
            </div>
            <div class="grid-product__meta-price">
              {% if on_sale %}
                <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
              {% else %}
                <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
              {% endif %}

              {% if product.price_varies %}
                {{ product.price_min | money_without_trailing_zeros }}
              {% else %}
                {{ product.price | money_without_trailing_zeros }}
              {% endif %}              
            </div>
          </div>

          {% if settings.product_vendor_enable %}
            <p class="grid-product__vendor">{{ product.vendor }}</p>
          {% endif %}
        </div>
      </div>
    </a>
  </div>
</div>