<!-- /snippets/product-grid-item.liquid -->
{% comment %}

This snippet is used to showcase each product during the loop,
'for product in collection.products' in collection.liquid.

A liquid variable (grid_item_width) is set just before the this
snippet is included to change the size of the container.
Once the variable is set on a page, all future instances of this
snippet will use that width. Overwrite the variable to adjust this.

Example
- assign grid_item_width = 'large--one-quarter medium--one-half small--one-half'

{% endcomment %}

{% unless grid_item_width %}
{% assign grid_item_width = 'large--one-quarter medium--one-quarter small--one-half' %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}

<div class="grid__item grid-product {{ grid_item_width }}{% comment %}{{ grid_item_width }}{% endcomment %}{% if sold_out %} is-sold-out{% endif %}">
  <div class="grid-product__wrapper product-hover-cover">
    <div class="grid-product__image-wrapper">
      <a class="grid-product__image-linksss" href="{{ product.url | within: collection }}">
        <img src="{{ product | img_url: '800x' }}" alt="{{ product.featured_image.alt | escape }}" class="grid-product__image">
      </a>
      {% if sold_out %}
      <div class="grid-product__sold-out">
        <p>{{ 'products.product.sold_out_html' | t }}</p>
      </div>
      {% elsif on_sale %}
      {% if settings.product_sale_enable  %}
      <div class="grid-product__on-sale">
        {% capture saved_amount %}{{ product.compare_at_price | minus: product.price | money_without_trailing_zeros }}{% endcapture %}
        <p>{{ 'products.general.save_html' | t: saved_amount: saved_amount }}</p>
      </div>
      {% endif %}
      {% endif %}
    </div>
    <a href="{{ product.url | within: collection }}">
      <div class="product-details">
        <div class="grid-product__meta position-content">
          <span class="grid-product__title">{{ product.title }}</span>
          <span class="grid-product__price-wrap">
            <!--         <span class="long-dash">—</span> -->
            <div class="hoverprice">
              {% if product.variants.size > 1 %}
              <div class="productvariantsdiv">
                {% assign var_soldOut = true %}
                {% for variant in product.variants %}
                {% if variant.available %}
                <span class="productvariants">{{ variant.title }}</span>           
                {% assign var_soldOut = false %}
                {% endif %}           
                {% endfor %}

                {% if var_soldOut %}
                <span class="productvariants">SOLD OUT</span>
                {% endif %}
              </div>
              {% endif %}

              <div class="productprice">
                <span class="grid-product__price">
                  {% if on_sale %}
                  <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                  {% else %}
                  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  {% endif %}
                  {% if product.price_varies %}
                  {{ product.price_min | money_with_currency }}
                  <span class="icon-fallback-text">
                    <span class="icon icon-plus grid-product__price-min" aria-hidden="true"></span>
                    <span class="fallback-text">+</span>
                  </span>
                  {% else %}
                  {{ product.price | money_with_currency }}
                  {% endif %}
                </span>
              </div>
            </div>
          </span>

          {% if settings.product_vendor_enable %}
          <p class="grid-product__vendor">{{ product.vendor }}</p>
          {% endif %}
        </div>
      </div>
    </a>
  </div>
</div>