<!-- collection-sidebar -->
<style>
  .collection_sidebar .side_bar_menu .title{
    font-size:{{section.settings.title_fontsize}}px;
	  font-family:{{ section.settings.sidebar_font_family.family }}, {{ section.settings.sidebar_font_family.fallback_families }};
  }
  .collection_sidebar .side_bar_menu ul.list a{
    font-size:{{ section.settings.link_size }}px;
    color:{{section.settings.link_color}};
    font-family:{{ section.settings.sidebar_font_family.family }}, {{ section.settings.sidebar_font_family.fallback_families }};
  }
  .collection_sidebar .side_bar_menu ul.list a:hover{
     color:{{section.settings.link_hover_color}};
  }
  .collection_sidebar .side_bar_menu ul.list a.active{
    font-size:{{section.settings.link_active_size}}px;
    color:{{section.settings.link_active_color}};
  }
  .collection_sidebar .side_bar_menu ul.list a.active:hover{
    color:{{section.settings.link_active_hover_color}};
  }
</style>


<div class='collection_sidebar'>
  <div class='side_bar_menu'>
    {%- for block in section.blocks -%}
    <div class="menu_wrap">
      <h3 class="title">{{ linklists[block.settings.menu].title }} <span class="icon icon-plus"></span></h3>
      <ul class="list">
        {% for link in linklists[block.settings.menu].links %}
        <li>
          <a href="{{link.url}}" class='{% if link.active %}active{% endif %}'>
            {{link.title}}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  
  
  {
    "name": "Collection-sidebar",   
      "settings":[
        {
          "type": "header",
          "content": "Sidebar"
        },
        {
          "type": "range",
          "id": "title_fontsize",
          "label": "Sidebar Title Font Size",       
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default":   12
        },
        {
          "type": "font_picker",
          "id": "sidebar_font_family",
          "label": "Sidebar Font Family",
          "default": "work_sans_n6"
        },
        {
          "type":"range",
          "id":"link_size",
          "label":"Link font size",
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default":   12
        },
        {
          "type":"color",
          "id":"link_color",
          "label":"Link color",
          "default":"#000000"
        },
        {
          "type":"color",
          "id":"link_hover_color",
          "label":"Link hover color",
          "default":"#919191"
        },
        {
          "type":"range",
          "id":"link_active_size",
          "label":"Link active font size",
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default":   12
        },
        {
          "type":"color",
          "id":"link_active_color",
          "label":"Link active color",
          "default":"#919191"
        },
        {
          "type":"color",
          "id":"link_active_hover_color",
          "label":"Link active hover color",
          "default":"#000000"
        }
      ],
        "blocks":[
          {
            "type":"link_list",
            "name":"Menu",
            "settings":[
              {
                "type":"link_list",
                "id":"menu",
                "label":"Select menu"
              }

            ]
          }
        ]

  }
  {% endschema %}
  {%- comment -%}
</script>
{%- endcomment -%}

