<!-- /templates/product.liquid -->
<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% assign current_variant = product.selected_or_first_available_variant %}

  <div class="grid product-single">
    <div class="grid__item large--seven-twelfths medium--seven-twelfths text-center">
      <div class="product-single__photos" id="mobile-gallery">
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

        {% comment %}
        Display current variant image, or default first
        {% endcomment %}
        <div class="product-single__photo-wrapper" id="main-product-image">
          <img id="ProductPhotoImg" src="{{ featured_image | img_url: 'grande' }}" alt="{{ featured_image.alt | escape }}" data-image-id="{{ featured_image.id }}">

          {% for image in product.images %}
          {% if forloop.first %}
          {{ continue }}
          {% else %}
          <img class="product-single__photo1" id="hidden-image" src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}" data-image-id="{{ image.id }}">
          {% endif %}
          {% endfor %}
          {% for image in product.images limit: 1 %}
          <img class="product-single__photo1" id="hidden-image" src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}" data-image-id="{{ image.id }}">
          {% endfor %}
        </div>

        {% comment %}
        Display rest of product images, not repeating the featured one
        {% endcomment %}
        {% for image in product.images %}
        {% unless image contains featured_image %}
        <div class="product-single__photo-wrapper">
          <img src="{{ image.src | img_url: 'grande' }}" {% if settings.product_zoom_enable %}data-mfp-src="{{ image.src | img_url: '1024x1024' }}"{% endif %} alt="{{ image.alt | escape }}" data-image-id="{{ image.id }}">
        </div>
        {% endunless %}
        {% endfor %}
      </div>

      <div class="product-single__photos" id="gallery">
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        <div class="product-single__photo-wrapper" id="main-product-image">
          <img class="product-single__photo"  id="ProductPhotoImg" src="{{ featured_image | img_url: 'grande' }}" {% if settings.product_zoom_enable %}data-mfp-src="{{ featured_image | img_url: '1024x1024' }}"{% endif %} alt="{{ featured_image.alt | escape }}" data-image-id="{{ featured_image.id }}">
        </div>
        <div class="right-thumbs">
          {% for image in product.images %}
          <div class="product-single__photo-wrapper li-list" id="thumbnails">
            <a href="{{ image | product_img_url: 'grande' }}" id="aid-{{forloop.index}}" title="{{ product.title }}">
             <img class="single__photo" src="{{ image.src | img_url: 'grande' }}" {% if settings.product_zoom_enable %}data-mfp-src="{{ image.src | img_url: '1024x1024' }}"{% endif %} alt="{{ image.alt | escape }}" data-image-id="{{ image.id }}">
            </a>
          </div>
          {% endfor %}
          <div id="imggal" style="dsiplay:none;">
          {% for image in product.images %} {% comment %} this loop hide for gallery {% endcomment %}
          {% if forloop.first %}{% else %}
          <div class="product-single__photo-wrapper li-list-test" >
            <a href="{{ image.src | img_url: 'grande' }}" title="{{ product.title }}">
              <img class="product-single__photo" src="{{ image.src | img_url: 'grande' }}" {% if settings.product_zoom_enable %}data-mfp-src="{{ image.src | img_url: '1024x1024' }}"{% endif %} alt="{{ image.alt | escape }}" data-image-id="{{ image.id }}">
            </a>
          </div>
          {% endif %}
          {% endfor %}
          </div>
          
        </div>
      </div>
    </div>

    <div class="grid__item product-single__meta--wrapper medium--five-twelfths large--five-twelfths">
      <div class="product-single__meta1">
        {% if settings.product_vendor_enable %}
        <h2 class="product-single__vendor" itemprop="brand">{{ product.vendor }}</h2>
        {% endif %}

        <h1 class="product-single__title" itemprop="name">{{ product.title }}</h1>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          {% comment %}
          Optionally show the 'compare at' or original price of the product.
          {% endcomment %}

          {% if product.compare_at_price_max > product.price %}
          <span id="PriceA11y" class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
          <span class="product-single__price--wrapper">
            <span id="ComparePrice" class="product-single__price--compare-at">
              {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
              {% endif %}
            </span>
          </span>
          <span id="ComparePriceA11y" class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
          {% else %}
          <span id="PriceA11y" class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
          {% endif %}

          <span id="ProductPrice" class="product-single__price{% if product.compare_at_price > product.price %} on-sale{% endif %}" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            {{ current_variant.price | money }}
          </span> 

          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <div class="product-single__description rte" itemprop="description">
            {{ product.description }}
          </div>
	
          
           {% for tag in product.tags %}
  {% if tag contains 'size_chart' %}
  <div class="size_chart_btn"><a data-fancybox data-src="#size_chart_modal" href="javascript:;" class="">Size Chart</a></div>
  {% endif %}
  {% endfor %}
          
        
          
          <div style="display: none;" id="size_chart_modal">
            <div class="size-chart">
              <h3>{{ product.title }}</h3>
              
              {{ product.metafields.product_size_name.product_sizechart }}
              
            </div>
          </div>

          <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-single__form" id="AddToCartForm">
            <select name="id" id="ProductSelect" class="product-single__variants">
              {% for variant in product.variants %}
              {% if variant.available %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}" data-id={{variant.id}}>{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
              {% else %}
              <option disabled="disabled">
                {{ variant.title }} - {{ 'products.product.sold_out' | t }}
              </option>
              {% endif %}
              {% endfor %}
            </select>
            
           
            {% if settings.enabe_extra_products_dropdown %}
             <div class="extra-product-dropdown-wrapper">
                {% if product.metafields.c_f.extra_products != blank %} 
                  <label>{{settings.extra_products_dropdown_heading}}</label>
                  <select class="extra-product-dropdown">
                    {% assign extra_products = product.metafields.c_f.extra_products | split: "," %}
                    {% for extra_product in extra_products %}
                      {% if all_products[extra_product].selected_or_first_available_variant.available %}
                        <option value="{% if product.metafields.c_f[extra_product] != blank %}{{product.metafields.c_f[extra_product]}}{% else %}{{ all_products[extra_product].title }}{% endif %}" data-id="{{ all_products[extra_product].selected_or_first_available_variant.id }}">{% if product.metafields.c_f[extra_product] != blank %}{{product.metafields.c_f[extra_product]}}{% else %}{{ all_products[extra_product].title }}{% endif %} + {% if all_products[extra_product].selected_or_first_available_variant.price != 0 %}{{all_products[extra_product].selected_or_first_available_variant.price | money }}{% else %}Free{% endif %}</option>
                      {% endif %}
                    {% endfor %}
                    <option value="" data-id="">None</option>
                  </select>
                {% endif %}
              </div>
            {% endif %}

            {% if settings.enable_qty %}
            <div class="product-single__quantity">
              <label for="Quantity" class="product-single__quantity-label js-quantity-selector">{{ 'products.product.quantity' | t }}</label>
              <input type="number" hidden="hidden" id="Quantity" name="quantity" value="1" min="1" class="js-quantity-selector">
            </div>
            {% endif %}

            <div class="product-single__add-to-cart">
              <button type="submit" name="add" id="AddToCart" class="btn add_to_cart">
                <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
              </button>
            </div>
          </form>

        </div>

        {% if settings.social_sharing_products %}
        {% include 'social-sharing' %}
        {% endif %}
      </div>
    </div>
  </div>

  {% if collection %}
  <hr class="hr--clear">
  <div class="text-center">
    <a href="{{ collection.url }}" class="return-link">{{ 'products.general.collection_return' | t: collection: collection.title }}</a>
  </div>
  {% endif %}

</div>
<div style="display:none;" id="imglist">
{% for image in product.images %}
{% if forloop.first %}
<div id="firstthumb" class="product-single__photo-wrapper li-list-test">
  <a href="{{ image.src | img_url: 'grande' }}" title="{{ product.title }}">
    <img class="product-single__photo" src="{{ image.src | img_url: 'grande' }}" {% if settings.product_zoom_enable %}data-mfp-src="{{ image.src | img_url: '1024x1024' }}"{% endif %} alt="{{ image.alt | escape }}" data-image-id="{{ image.id }}">
  </a>
</div>
{% endif %}
{% endfor %}
</div>
{% comment %}

*IMPORTANT:*
This theme uses a customized version of `option_selection.js` to support using radio inputs for
color and size variants. The custom version is in `variant_selection.js`.

If you wish to enable the default dropdowns for size and color
you can change the liquid asset tag below from:

{{ 'variant_selection.js' | asset_url | script_tag }}

to

{{ 'option_selection.js' | shopify_asset_url | script_tag }}

If you use the default `option_selection.js` the labels for the dropdowns will
appear outside the dropdown.

You will also need to change `.radio-wrapper` to `.selector-wrapper` below.

{% endcomment %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector,
      translations: {
      addToCart : {{ 'products.product.add_to_cart' | t | json }},
      soldOut : {{ 'products.product.sold_out' | t | json }},
      unavailable : {{ 'products.product.unavailable' | t | json }}
    }
                       });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('ProductSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label for="ProductSelect-option-0" class="single-option-radio__label">{{ product.options.first | escape }}</label>');
                                         {% endif %}

                                         // Hide drop-down selectors if we only have 1 variant and its title contains 'Default'.
                                         {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                                         $('.selector-wrapper').hide();
    {% endif %}
  });
</script>


<script>
  $(document).ready(function(){    
    var x = false;
    $('.li-list a').click(function(e){
      e.preventDefault();  
      var aid = $(this).attr('id');
      aid = aid.split('-');
      var id = aid[1];
      id = parseInt(id);
      console.log('---'+aid);
      // var x = $('#imglist').html(); 
      if(id > 1 && x == false ){    // add the first thumb in hidden div
        $( "#imggal" ).prepend($('#imglist').html());
        x = true;
      }
      if(id == 1 ){  // remove the first thumb in hidden div
        var z = $('#firstthumb').html();
        //console.log('--'+z);
        $("#imggal #firstthumb").remove();
        x = false;
      }  
      var image = $(this).find('img').attr('src');
      var imagemain = $(this).find('img').attr('data-mfp-src');    
      $('#gallery #ProductPhotoImg').attr('src',image);
      $('#gallery #ProductPhotoImg').attr('data-mfp-src',imagemain);

    });
  });
</script>

<style>
  .li-list-test{display:none}
  #mobile-gallery {
    display: none; 
  }

  #thumbnails {
    width: 100px;
    height: auto;
    display: inline-block;
    margin-bottom: 15px;
  }

  #main-product-image {
    position: relative;
  }

  #hidden-image {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 768px) {
    #mobile-gallery {
      display: block;
    }

    #gallery {
      display: none;
    }
  }
</style>